<section class="padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6">
                
                <h2 class="text-center padding-top padding-bottom">Contatos</h2>

                <div class="text-center padding-bottom">
                    <button type="button" class="btn btn-success" routerLink="/add-contact"><i class="fas fa-plus"></i> Novo Contato</button>
                </div>

                <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><i class="fas fa-user-tie"></i></th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <button type="button" class="btn btn-primary margin-right"><i class="fas fa-edit"></i></button> 
                            <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><i class="fas fa-users"></i></th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>
                            <button type="button" class="btn btn-primary margin-right"><i class="fas fa-edit"></i></button> 
                            <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><i class="fas fa-users"></i></th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>
                            <button type="button" class="btn btn-primary margin-right"><i class="fas fa-edit"></i></button> 
                            <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

            </div>
        </div>
    </div>
</section>