/* You can add global styles to this file, and also import other style files */

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.margin-right {
    margin-right:10px;
}