<section class="padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6">
                
                <h2 class="text-center padding-top padding-bottom">Editar Contato</h2>

                <form [formGroup]="contactForm">

                    <div class="form-group">
                        <label for="type">Tipo de Contato</label>
                        <select class="form-control" formControlName="type" name="type" id="type">
                            <option value="pessoal">Pessoal</option>
                            <option value="profissional">Profissional</option>
                          </select>
                    </div>

                    <div class="form-group">
                      <label for="name">Nome</label>
                      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Digite o nome...">
                    </div>

                    <div class="form-group">
                        <label for="phone">Telefone</label>
                        <input type="phone" class="form-control" formControlName="phone" id="phone"  placeholder="Digite o telefone...">
                    </div>
                    
                  </form>

                <div class="text-center padding-top padding-bottom">
                    <button type="button" class="btn btn-success margin-right" (click)="editContact()"><i class="fas fa-plus"></i> Editar Contato</button>
                    <button type="button" class="btn btn-primary" routerLink="/contacts"><i class="fas fa-arrow-left"></i> Voltar</button>
                </div>


            </div>
        </div>
    </div>
</section>